html,body {
    height: 100%;
}

body {
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
}

/* both setting in main and footer are for sticky footer not in the middle of page if the page is very short or covered by content*/
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.navbar{
    border-bottom: 2px solid silver;
}

.h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand.h1 {
    font-size: 34px;
}

.card-img-overlay {
    bottom: 1.25rem;
    top: auto;
}

@media screen and (max-width: 767.98px) {
    /* navbar brand should also take whole row and text should be centered */
    .navbar-brand {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
 }


 @media screen and (width: 768px) {
    /* I'm not sure about this but according to the screenshots, somehow md breakpoint 768px content also takes take up the entire screen. */
    .col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
 }